main {
  display: grid;
  /* 24h 5min = 24*60/5 = 24*12 = 288 aka 5/288 schritte oder 288 1fr*/ 
  grid-template-rows: repeat(288, 1fr); /* each fr = 5min */
  grid-template-columns: 50px 1fr;
  grid-column-gap: 20px;
  height: 200%;
  justify-content: center;
  padding: 1em;
}
button {
  height: 70px;
  width: 140px;
}

div.aside {
  display:grid;
  grid-template-rows: repeat(48, 1fr); /* each fr = 30min */
  grid-column: 1 / 1;
  grid-row: 1 / au;
  background-color: #ff4081;
}

.example-time:first-child {
  border-top: 0px solid;
}
.example-time {
  border-top: 1px solid;
  display:flex;
  justify-content:center;
  align-items:center;
  grid-row: span 1; /* 12 = 1h, 6 = 30min */
  width: 100%;
  padding: 0;
}

.example-card {
  grid-column: 2;
  grid-row: span 36; /* 12 = 1h, 6 = 30min */
  width: 100%;
  padding: 0;
  /* min-height: 400px; */
}

mat-card-subtitle {
  padding:10px;
  text-align: left;
}

.divider {
  grid-column: 2;
  grid-row: 160;
  border-color: #ff4081;
  border-top-width: 3px;
  width: 100%;
  z-index: 2;
}

@media (min-width: 900px) {
  /** Großer Viewport: Browserfenster **/
  .divider {
    border-color: #ff4081;
    border-top-width: 3px;
    width: 450px;
  }
  .example-card {
    width: 400px;
  }
}
