<main>
  <div class="aside">
    <div
      class="example-time"
      *ngFor="let t of times"
      >
      {{t}}
      </div>
  </div>
  <mat-card
    class="example-card"
    *ngFor="let lecture of lectureData"
    (click)="onLectureClick()"
    [ngStyle]="{'grid-row': convertTimeToPos(lecture.startsAt) + '/' + convertTimeToPos(lecture.endsAt)}"
    [style.background-color]="convertTimeToPos(lecture.startsAt) < convertTimeToPos(curTime()) && convertTimeToPos(curTime()) < convertTimeToPos(lecture.endsAt) ? '#7986cb': ''">

    <mat-card-subtitle>{{ lecture.startsAt }}</mat-card-subtitle>
    <mat-card-title>{{ lecture.name }}</mat-card-title>
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-divider
    [style.grid-row]="convertTimeToPos(curTime())"
    [ngStyle]="{'grid-row': convertTimeToPos(curTime())}"
    class="divider" 
    ></mat-divider>
</main>
